---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import SidebarR from "@components/SidebarR.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import Card from "@components/Card";
import getUniqueTags from "@utils/getUniqueTags";
import { SITE } from "@config";
import slugify from "@utils/slugify";
import getSortedPosts from "@utils/getSortedPosts";

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);
---

<Layout title={`Archive | ${SITE.title}`}>
  <Header activeNav="posts" />
  <main id="main-content">
    <Main pageTitle="archive" pageDesc="">
        <ul>
        {sortedPosts.map(({ data }) => ( 
            <Card 
                href={`/posts/${slugify(data)}`}
                frontmatter={data}
                secHeading={false}
            />))}
        </ul>
    </Main>
  </main>
  <SidebarR activeNav="posts"/>
</Layout>
