@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  color: rgb(24, 22, 22);
  color: rgb(211, 211, 182);
  color: rgb(70, 136, 49);
  color: rgb(147, 226, 123);
  color: rgb(206, 93, 0);
  color: rgb(214, 216, 255);
  color: rgb(58, 51, 51);
  color: rgb(41, 35, 35);
  color: rgb(39, 35, 35);
  --color-fill: 248, 250, 248;
}

@layer base {
  :root,
  html[data-theme="light"] {
    --color-fill: 248, 250, 248;
    --color-text-base: 40, 39, 40;
    --color-accent: 255, 115, 0;
	--color-secondary: 70, 136, 49;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
  }
  html[data-theme="dark"] {
    --color-fill: 24, 22, 22;
    --color-text-base: 211, 211, 182;
    --color-accent: 206, 93, 0;
	--color-secondary: 147, 226, 123;
    --color-card: 58, 51, 51;
    --color-card-muted: 41, 35, 35;
    --color-border: 39, 35, 35;
  }
  #sun-svg, #day-symbol
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg, #night-symbol
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  #day-symbol,
  html[data-theme="dark"] #day-symbol {
    display: none;
  }
  #night-symbol,
  html[data-theme="dark"] #night-symbol {
    display: inline-block;
  }
  #day-symbol,
  html[data-theme="light"] #day-symbol {
    display: inline-block;
  }
  #night-symbol,
  html[data-theme="light"] #night-symbol {
    display: none;
  }
  body {
    @apply flex min-h-[100svh] flex-col bg-skin-fill /*font-mono*/ text-skin-base;
    /* selection color */
    /*selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;*/
  }
  section,
  footer {
    @apply mx-auto max-w-4xl;
  }
  a {
    @apply outline-2 outline-offset-1 outline-skin-fill 
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent 
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent 
    sm:scale-110;
  }
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-skin-base 
    prose-h3:italic prose-p:!text-skin-base 
    /*prose-a:!text-skin-secondary  prose-a:!font-normal prose-a:!decoration-1
    hover:prose-a:text-skin-secondary hover:prose-a:no-underline*//*prose-a:!decoration-dotted*/
    hover:prose-a:no-underline prose-a:!font-normal
	prose-blockquote:!border-l-skin-accent
    prose-blockquote:border-opacity-50 prose-blockquote:opacity-90
    prose-figcaption:!text-skin-base prose-figcaption:opacity-70
    prose-strong:!text-skin-base
    
    prose-code:rounded prose-code:bg-skin-card 
    prose-code:bg-opacity-75 prose-code:p-1 prose-code:!text-skin-base 
    prose-code:before:!content-[''] prose-code:after:!content-['']
    prose-pre:!text-skin-base prose-pre:!bg-skin-card prose-ol:!text-skin-base 
    prose-ul:overflow-x-clip prose-ul:!text-skin-base prose-li:marker:!text-skin-accent
    prose-table:text-skin-base prose-th:border
    prose-th:border-skin-line prose-td:border 
    prose-td:border-skin-line prose-img:mx-auto 
    prose-img:!mt-2 /*prose-img:border-2 */
    prose-img:border-skin-line prose-hr:!border-skin-line;
  }

  /* === link default colors === */
  .prose :link { color: #0000EE; }
  .prose :visited { color: #551A8B; }

  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }
  
  .rss a svg {
	  @apply hover:fill-skin-accent
  }

  /* ===== Microblog ===== */
  .microblog, .image {
	@apply text-skin-base p-2 bg-skin-card /*hover:brightness-95*/;

	overflow: hidden;
	width: 100%;
  }
  .microblog:hover {
    @apply opacity-90;
  }
  .microblog p, .image p {
	@apply text-skin-base p-2 text-sm;
  }
  .microblog a, .image a {
	@apply break-words hover:underline decoration-dotted text-skin-secondary hover:!decoration-solid underline-offset-2;
  }
  .microblog img, .image img {
	@apply mb-0;
    width: auto;
	max-height: 20em;
	object-fit: scale-down;
  }
  .microblog, .image, .postSnippet {
    border-radius: 3px;
    border-left: 2px solid rgba(var(--color-card-muted));
  }

  /* ===== Post snippet ====== */
  .postSnippet {
    @apply pl-4;
    max-height: 5.5em;
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 50%, transparent);
    -webkit-mask-image: linear-gradient(180deg, #000 50%, transparent);
  }
  .postSnippet h1, .postSnippet h2, .postSnippet h3, .postSnippet img, .postSnippet iframe {
    @apply hidden;
  }
  .postSnippet p {
    font-size: smaller;
  }
  
  .date {
	@apply mt-5;
  }
  .date hr {
	@apply border-skin-card-muted;
  }
  .author {
	@apply p-0 pl-2 text-skin-secondary font-bold;
  }

  /*!====== Main content ======!*/
  #main-content {
    @apply col-start-2 col-end-3 px-3 sm:p-0;
    width: calc(min(56rem, 100vw - 1em) * var(--w-main));
  }
  @media only screen and (max-width: 640px) {
    #main-content {
        width: calc(100vw);
    }
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }
  blockquote p::after, blockquote p::before {
    @apply !content-none;
  }

  pre > code {
    white-space: pre;
  }
}

.prose {
    @apply max-w-full;
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
  
}

/*randomantagning post*/
img[alt="Some courses from spring 2024"] {
	width: max(50%, 500px);
}

/* microblog image sizes */
.microblog img[alt="full"],
.image img[alt="full"]  {
	width: 100%;
	max-height: none;
}
.microblog img[alt="half"],
.image img[alt="half"]  {
	width: 50%;
	max-height: none;
}
.microblog img[alt="height"],
.image img[alt="height"]  {
	max-width: 100%;
	max-height: 20rem;
}
