---
import Layout from "@layouts/Layout.astro";
import { Icon } from 'astro-icon/components';

import ture from "@assets/images/ture.jpg";
---

<Layout title="turpelurpeluren.online" hideLogo>
    <!--div id="head" class="flex flex-col sm:flex-row col-start-1 col-end-4 prose px-3"-->
    <div class="block w-32 col-start-1 col-end-4 sm:col-end-2 w-full px-3 sm:p-0">
        <img class="w-full m-0 mb-2 aspect-square rounded-md object-cover object-top "
            {...ture}
        >
    </div>
    <main class="col-start-2 col-end-4 prose px-3">
        <h1>Ture Goldkuhl</h1>
        <ul id="info" class="list-none p-0 text-sm mb-8">
            <li>
                <Icon
                    name="tabler:mail"
                    class="w-4 h-4 m-0 mr-2 rtl:mr-0 rtl:ml-2"
                />
                <a href="mailto:admin@turpelurpeluren.online">admin@turpelurpeluren.online</a>
            </li>
            <li>
                <Icon
                    name="tabler:phone"
                    class="w-4 h-4 m-0 mr-2 rtl:mr-0 rtl:ml-2"
                />
                +4672 - 350 63 56
            </li>
            <li>
                <Icon
                    name="tabler:pointer"
                    class="w-4 h-4 m-0 mr-2 rtl:mr-0 rtl:ml-2"
                />
                <a href="turpelurpeluren.online">turpelurpeluren.online</a>
            </li>
        </ul>
    
        <p> Kreativ, teknikintresserad och kvalitetsmedveten med sinne för människor. Tar 
            mig gärna an nya problem och skapar en positiv omgivning. Under studietiden 
            vill jag ska a inblick, erfarenhet och förmåga inom yrkes- och företagslivet.
        </p>

        <h2>Projekt</h2>
        <hr>
        <div class="flex flex-row">
            <div class="w-[25%]">
                2024
            </div>
            <div class="w-full">
                Detta
            </div>
        </div>
    </main>

  <!--Footer /-->
</Layout>

<style>

</style>
