---
import Layout from "@layouts/Layout.astro";
import { Icon } from 'astro-icon/components';
import Block from "@components/Block.astro";

import ture from "@assets/images/ture.jpg";
---

<Layout title="CV – Ture Goldkuhl" hideLogo>
    <main class="col-start-1 col-end-4 prose px-8 mb-16">
        <div class="flex flex-col sm:flex-row gap-8 items-center">
            <Block nomargin border="fill" bg="base">
            <div class="max-w-sm">
                <img class="sm:w-48 !m-0 aspect-square object-cover object-top"
                    {...ture}
                >
            </div></Block>
            <div class="flex flex-col items-center sm:items-start gap-0">
                <i>Curriculum Vitae</i>
                <h1 class="text-5xl sm:text-4xl">Ture Goldkuhl</h1>
                <ul id="info" class="list-none p-0 m-0 text-sm">
                    <li>
                        <Icon
                            name="tabler:mail"
                            class="w-4 h-4 m-0 mr-2 rtl:mr-0 rtl:ml-2"
                        />
                        <a href="mailto:admin@turpelurpeluren.online">admin@turpelurpeluren.online</a>
                    </li>
                    <li>
                        <Icon
                            name="tabler:phone"
                            class="w-4 h-4 m-0 mr-2 rtl:mr-0 rtl:ml-2"
                        />
                        +4672 - 350 63 56
                    </li>
                    <li>
                        <Icon
                            name="tabler:pointer"
                            class="w-4 h-4 m-0 mr-2 rtl:mr-0 rtl:ml-2"
                        />
                        <a rel="me" target="_blank" href="https://turpelurpeluren.online">turpelurpeluren.online</a>
                    </li>
                    <!-- Add github -->
                    <!-- Add github -->
                </ul>
            
            </div>
        </div>
        
        <p class="">
            Kreativ, teknikintresserad och kvalitetsmedveten med sinne för människor. Tar 
            mig gärna an nya problem och skapar en positiv omgivning. Under studietiden 
            vill jag ska a inblick, erfarenhet och förmåga inom yrkes- och företagslivet.
        </p>

        <h2>Projekt</h2>
        <hr>
        <div class="flex flex-row">
            <div class="w-[25%]">
                2024
            </div>
            <div class="w-full">
                Detta
            </div>
        </div>
    </main>

  <!--Footer /-->
</Layout>

<style>

</style>
