---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import SidebarR from "@components/SidebarR.astro";
import Main from "@layouts/Main.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import getSortedItems from "@utils/getSortedItems";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");
const items = await Astro.glob('./../content/blog/*.md');

const imageContent = getSortedItems(items).filter(({frontmatter}) => frontmatter.image);

/*{frontmatter.microblog? ("microblog") : ("image")}*/
---

<Layout>
    <Header activeNav="media" />
    <main id="main-content">
    <Main pageTitle="media" pageDesc="">
      {
        imageContent.length > 0 && (
          <flex id="grid">
            {imageContent.map(
              ({ frontmatter, Content }, index) =>
                  index % 3 === 0 ? (
                    <column class="col1">
                    <a href={`/posts/${slugify(frontmatter)}`}>
                        <div class="imagebox">
                        <Content/>
                        </div>
                    </a></column>
                  ) : (
                  index % 3 === 1 ? (
                    <column class="col2">
                     <a href={`/posts/${slugify(frontmatter)}`}>
                        <div class="imagebox">
                          <Content/>
                        </div>
                    </a></column>
                  ) : (
                    <column class="col3">
                    <a href={`/posts/${slugify(frontmatter)}`}>
                        <div class="imagebox">
                        <Content/>
                        </div>
                    </a></column>
                  ))
              )
            }
          </flex>
        )
      }
    </Main>

  </main>
  <SidebarR activeNav="media"/>
</Layout>

<style>
  #grid {
    @apply grid justify-center items-center;
    grid-template-columns: auto auto auto;
  }
  column {
    
  }
  .col1 {
    @apply col-start-1 col-end-1;
  }
  .col2 {
    @apply col-start-2 col-end-2;
  }
  .col3 {
    @apply col-start-3 col-end-3;
  }
  .imagebox {
    @apply m-2;
    font-size: 0;
  }
  .imagebox img {
    -ms-grid-column-span: 1;
    max-width: 100%;
    max-height: 100%;
    display: contents;
  }
</style>
