

<div class="contactForm">
  <form class="contactFormBox" 
    name="contact" 
    >
    <h2>Leave me a message:</h2>
    <textarea rows="4" cols="50" id="question" name="message" placeholder="Type your message here!"></textarea>
    <label><p>Name: </p><input type="text" name="name" id="name" placeholder="Name"></label>
    <label><p>Website: </p><input type="text" name="website" id="website" placeholder="(Optional) Your website"></label>
    <label><p>Email/@: </p><input type="text" name="email" id="email" placeholder="(Optional) Where can I reach you?"></label>
    <input type="hidden" name="form-name" value="contact"/>
    <flexbox id="bottom"><button type="submit" id="send">Send!</button>
    <a id="ref" href="https://sadgrl.online/learn/articles/create-webform-discord">Get your own message box!</a></flexbox>
  </form>
</div>

<style>
    .contactFormBox {
        @apply w-full;
    }
    .contactFormBox label {
        @apply text-skin-base w-full;
        display: flex;
    }
    .contactFormBox label p {
        @apply my-2;
        width: 5rem;
    }
    #question {
        @apply w-full;
    }
    #question,
    #name,
    #website,
    #email {
        @apply outline-skin-base bg-skin-card px-1 w-full;
    }
    #name,
    #website,
    #email {
        @apply mb-2;
    }
    #bottom {
        @apply w-full;
        display: flex;
        justify-content: space-between;
    }
    #send {
        @apply text-skin-base bg-skin-accent hover:bg-skin-card-muted active:bg-skin-card px-2 py-1 mt-1;
        border-radius: 3px;
    }
    #ref {
        @apply mt-3;
        font-size: smaller;
    }
  </style>
  
<script>
    (function () {
    'use strict';

    document.getElementById('send').onclick = function() {
        const question = document.getElementById("question") as HTMLTextAreaElement;
        const nameInput = document.getElementById("name") as HTMLInputElement;
        const webInput = document.getElementById("website") as HTMLInputElement;
        const emailInput = document.getElementById("email") as HTMLInputElement;
    
        var request = new XMLHttpRequest();
        request.open("POST", "https://discordapp.com/api/webhooks/1039221226712875170/COYPEqaVrlKTWCnqrjCPjyea9nlrHi-wdBpvLwXW4VyswzOeNogUbkkVoCuSEu2MdMKK");
        request.setRequestHeader('Content-type', 'application/json');
        // the below variables combine a label (text) + the textarea value + a newline (\n)
        // add up to 2,000 characters (Discord's character limit)
        var name = nameInput.value;
        var web = 'Mail: ' + emailInput.value + "\n";
        var email = 'Website: ' + webInput.value + "\n";
        var message = 'Message: ' + question.value;
    
        // you have to combine both into one single variable before you can pass it to discord
        var date = new Date();
        var f_date = date.toLocaleDateString('sv-SE');
        var username = name + " " + f_date;
        var msg = email + web + message;
        // play with it a bit until you get a feel for how you want the incoming messages to look!
    
        var params = {
        // you can set the username to anything you want
            username: username,
            content: msg,
        }
        request.send(JSON.stringify(params));

        // below gives your user some helpful feedback letting them know their message has been sent
        //alert('Thanks, your message has been sent.'); //Handled in netlify AJAX instead
        
    }

    //AJAX netlify
    const handleSubmit = (event) => {
        event.preventDefault();

        const myForm = event.target;
        const formData = new FormData(myForm);
        
        fetch("/", {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: new URLSearchParams(formData as any).toString(),
        })
            .then(() => alert("Thank you for your submission"))
            .catch((error) => alert(error));

        // below clears the form fields after submission
        const question = document.getElementById("question") as HTMLTextAreaElement;
        question.value = '';
    };

    document
        .querySelector("form")
        .addEventListener("submit", handleSubmit);

})();
</script>