

<div class="contactForm">
  <div class="contactFormBox">
    <h2>Leave me a message:</h2>
    <textarea rows="4" cols="50" id="question" placeholder="Type your message here!"></textarea>
    <label>Name: </label> <input type="text" id="name" placeholder="Name"><br>
    <label>Website: </label> <input type="text" id="website" placeholder="(Optional) Your website"><br>
    <label>Email/@: </label> <input type="text" id="email" placeholder="(Optional) Where can I reach you?">
    <button id="send">Send!</button>
    <a id="ref" href="https://sadgrl.online/learn/articles/create-webform-discord">Get your own message box!</a>
  </div>
</div>

<style>
    .contactFormBox {
        @apply w-full;
    }
    .contactFormBox label {
        @apply text-skin-base;
        display: inline-block;
        width: 4rem;
    }
    #question {
        @apply w-full;
    }
    #question,
    #name,
    #website,
    #email {
        @apply outline-skin-base bg-skin-card px-1;
    }
    #name,
    #website,
    #email {
        @apply mt-1 ml-1;
        width: calc(100% - 4rem - 4px);
    }
    #email {
        width: calc(100% - 7.5rem - 4px);
    }
    #send {
        @apply text-skin-base bg-skin-card hover:bg-skin-card-muted active:bg-skin-accent px-1 ml-2 mt-1;
        border-radius: 3px;
    }
    #ref {
        @apply mt-3;
        display: block;
        text-align: right;
        font-size: smaller;
    }
  </style>
  
<script>
    (function () {
    'use strict';

    document.getElementById('send').onclick = function() {
        const question = document.getElementById("question") as HTMLTextAreaElement;
        const nameInput = document.getElementById("name") as HTMLInputElement;
        const emailInput = document.getElementById("email") as HTMLInputElement;
    
        var request = new XMLHttpRequest();
        request.open("POST", "https://discordapp.com/api/webhooks/1039221226712875170/COYPEqaVrlKTWCnqrjCPjyea9nlrHi-wdBpvLwXW4VyswzOeNogUbkkVoCuSEu2MdMKK");
        request.setRequestHeader('Content-type', 'application/json');
        // the below variables combine a label (text) + the textarea value + a newline (\n)
        // add up to 2,000 characters (Discord's character limit)
        var name = nameInput.value;
        var email = 'Mail: ' + emailInput.value + "\n";
        var message = 'Message: ' + question.value;
    
        // you have to combine both into one single variable before you can pass it to discord
        var date = new Date();
        var f_date = date.toLocaleDateString('sv-SE');
        var username = name + " " + f_date;
        var msg = email + message;
        // play with it a bit until you get a feel for how you want the incoming messages to look!
    
        var params = {
        // you can set the username to anything you want
            username: username,
            content: msg,
        }
        request.send(JSON.stringify(params));

        // below gives your user some helpful feedback letting them know their message has been sent
        alert('Thanks, your message has been sent.');
        // below clears the form fields after submission
        question.value = '';
    }

})();
</script>