---
import { LOGO_IMAGE, SITE } from "@config";
import Hr from "./Hr.astro";
import LinkButton from "./LinkButton.astro";
import Nav from "./Nav.astro";

export interface Props {
  activeNav?: "/" | "posts" | "projects" | "media" | "about" | "search";
}

const { activeNav } = Astro.props;
---

<header class="header display-none sm:block">
  <a id="skip-to-content" href="#main-content">Skip to content</a>

	<a href="/" class="pfp-a"><p class="pl-1">/</p>
	  <div class="pfp">
		<img class="" src={`/assets/pfp.png`}>
	  </div>
    </a>

    <Nav left={false} activeNav={activeNav} />

</header>

<style>
  #skip-to-content {
    @apply absolute -top-96 left-16 z-50 bg-skin-accent px-3 py-2 text-skin-inverted transition-all focus:top-4;
  }
  .header {
    @apply col-start-1 col-end-2 pt-0 
    sm:h-screen sm:w-full sm:self-start sm:sticky sm:top-0;

    /*border: 1px dashed black;*/
  }
  
  .pfp {
    @apply border rounded-sm border-skin-fill hover:border-skin-secondary;
    box-shadow: -12px 15px rgba(var(--color-fill)), -13px 16px rgba(var(--color-text-base));
    width: calc(100% - 1rem);
    transform: translate(1rem, -1rem);
  }
  /* Blue on hover */
  .pfp-a:hover .pfp, .pfp-a:hover {
    box-shadow: /*-12px 15px rgba(var(--color-fill)), */-13px 16px rgba(var(--color-secondary));
    color: rgba(var(--color-secondary));
  }

  nav a.active {
    @apply underline decoration-wavy decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }
</style>

<script>
  /*function toggleNav() {
    // Toggle menu
    const menuBtn = document.querySelector(".hamburger-menu");
    const menuIcon = document.querySelector(".menu-icon");
    const menuItems = document.querySelector("#menu-items");

    menuBtn?.addEventListener("click", () => {
      const menuExpanded = menuBtn.getAttribute("aria-expanded") === "true";
      menuIcon?.classList.toggle("is-active");
      menuBtn.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
      menuBtn.setAttribute(
        "aria-label",
        menuExpanded ? "Open Menu" : "Close Menu"
      );
      menuItems?.classList.toggle("display-none");
    });
  }

  //toggleNav();

  // Runs on view transitions navigation
  //document.addEventListener("astro:after-swap", toggleNav);*/
</script>
