---
export interface Props {
  padding?: boolean;
  ariaHidden?: boolean;
}

const { padding = false, ariaHidden = true } = Astro.props;
---

<div class={`max-w-3xl mx-auto ${padding ? "px-4" : "px-0"}`}>
  <hr class="border-skin-line" aria-hidden={ariaHidden} />
</div>
