---
author: turpelurpeluren
pubDatetime: 2026-03-21T20:39:00+01:00
title: Verification with google
postSlug: google-verification
featured: false
project: false
microblog: true
image: false
draft: false
tags:
  - thoughts
description: >
  To verify your identity with google, you need first to "Get your Chrome OS"
share: "true"
---
To verify your identity with google, you need first to "Get your **Chrome OS**"
![google verification prompt](@assets/images/google.png)
