---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import SidebarR from "@components/SidebarR.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Header activeNav="about" />
  <main id="main-content">
    <Breadcrumbs />
    <section id="about" class="prose mb-28 prose-img: border-0">
      <h1 class="text-2xl font-semibold sm:text-3xl">{frontmatter.title}</h1>
      <slot />
	  <pre style="line-height: 1.2; background: none; max-width: 100%; text-align: center;" class="text-center">
                                 ,                                      
                        ╓╥▄▄█████████████▄▄,                            
                     ╓▒▓█████████████████████▄,,                        
                    Æ▓██████████████████████████▄                       
                  ,╫█████████████████████████████▓M,                    
                  ▓█████████████████▓▓▓▓███████████▒                    
                 ╒█████████████████▓▓╣╣╫▓███████████▌                   
                 ████████████▀▀▀▓▓▒▒║▒▒▒╢████████████                   
                 ███████████████@▒▒▒▒▒███████████████Ç                  
                 ██████▓▓▓████▀██▓╣▓███████▓▓████████▌                  
                 ██████▓╣╢╢▓▓▓▓▓▓╣▒╫▓▓▓▓▓▓▓▓▓▓███████▌                  
                 ]██▓▓█╣╢╢▒╣▒▒╢╫╣╣╣▓▓▓▒╢╣╣╢╢╫▓███████▌                  
                  ▓▓▓▓██╣╢▒▒▒▒▒▓▓╣▒╢▓▓▒▒▒▒▒╢▓▓██████▓[                  
                   ╙╩▓▓█╣╣╣▒▒▒╢╢▓▒▓▓▓╣╣▒╢╢╢╫▓▓▓█████▓                   
                     ╟██╣╢╢╢▒╢╢╢╣▒╢╢╢╢▓▓╣╢╢▓▓█████▓▓                    
                      ██╣╣╣╢╫▒▓█▓▓▓▓▓▓▓╣╣╢▓▓▓████▓▓                     
                    ,███▓▓╣▓╢╢╢╢╢╫▓╣╢╢╣╫▓▓▓▓█▓███╜                      
                     ███▓▓▓▓╣╣╢╢╢╢╢╢╣▓▓▓▓▓▓▓▓╟██▌                       
                    ▄██▓ `▓▓╫▓▓▓▓▓▓▓▓▓▓▓▓╢▓▓▒╙███                       
                    ██░║▒░▓▓▓▓▓╢╢╢▓╢╢╢▓▓▓▓▓▓▌▓▐██                       
                   ██▌░▒▄█▓▓▓▓▓▓▓╣╣▓▓▓▓▓▓▓▓▓M▓▐█▌▒▒                     
                ,░░██▒░]░█▓▓▓╢▓▓▓▓▓▓▓▓▓▓▓▓▓╛]▒██▌░░░▒╖                  
              ¿░░░░█▌░ `╙,"▓╣╣╣▓▓▓▓▓▓▓▓▓╢▓`░░░▐█▌░░░░░░▒,,              
         ,░░░░░░░░░█░       `▀╣╢▓▓▓▓▓▓╣╢╜   ░,░▐█▒░    ░░░░░¿,          
     ,░░░       ╫███  "´ ~=    "▀█████▀`,=´    ²▀██░         ░░░,       
  ,░░░░          -"               ,█▌                           ░░▒¿    
 ░░                                █                               ░░   
¡░                                ╘▓                                 ▒  
	  </pre>
    </section>
  </main>
  <SidebarR activeNav="about"/>
  <!--Footer /-->
</Layout>